button{
  padding:18px 50px;
  font-size:24px;
  border:none;
  border-radius:40px;
  cursor:pointer;
  background:linear-gradient(45deg,#ff4fd8,#7afcff);
  color:black;
  font-weight:800;
  letter-spacing:1px;
  margin-top:25px;

  box-shadow:0 0 20px rgba(255,79,216,0.6);
  transition:0.3s ease;
}

/* hover effect */
button:hover{
  transform:scale(1.1);
  box-shadow:0 0 35px rgba(122,252,255,0.8);
}
